<%= render 'shared/errors', obj: @ingredient %>

<div class="row">
  <div class="well col-md-4 col-md-offset-4 left">
    <%= form_for @ingredient do |f| %>
      <div id="form-gap">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <%= f.submit "Create ingredient", class: 'btn btn-success', id: 'button' %>
      <%= link_to 'Back', :back, class: 'btn btn-success', id: 'button' %>

    <%end %>
  </div>
</div>